.forget{
  text-align: right;
  padding: 4px;
}

.padding{
  padding: 0px 16px;
}

ion-select{
  background: transparent !important;
  margin: auto !important;
  border: none !important;
}

.header-md:after{
  background-image: none !important;
}