<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar></ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list lines="none">
          <ion-menu-toggle *ngIf="user != null">
            <ion-item routerLink="/profile">
              <ion-avatar slot="start">
                <img src="{{user.photoURL}}" />
              </ion-avatar>
              <ion-label>
                <h2 style="font-weight: 500;">{{user.name}}</h2>
                <p>{{user.email}}</p>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title | translate}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <!-- <ion-footer>
        <ion-toolbar>
          <ion-button expand="block" (click)="logout()">Logout</ion-button>
        </ion-toolbar>
      </ion-footer> -->
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>