<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'RATE_TRIP' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="skip()">
        <ion-icon name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center;padding: 28px">
    <p>{{ 'TRIP_COMPLETED' | translate}}</p>
    <h1 style="font-size:36px;color:#8BC34A;font-weight: 600;"> {{ (trip)?.currency }} {{(trip)?.fee}}</h1>
    <p>{{trip.paymentMethod}}</p>
    <hr style="border-bottom: 1px solid #eee;margin-top: 24px;" />
  </div>
  <div style="display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: center ">
    <img src="{{ (driver)?.photoURL }}" style="height:80px;width:80px;border-radius: 100px;" />
    <h3>{{(driver)?.name}}</h3>
    <p style="margin:0">{{ (driver)?.plate }} • {{ (driver)?.brand }}</p>
    <ion-rating [rate]="rating" (rateChange)="onRateChange($event)"></ion-rating>
    <div>
      <ion-textarea rows="2" [(ngModel)]="feedback"></ion-textarea>
    </div>
    <br />
    <ion-button color="dark" size="small" (click)="rateTrip()">{{ 'RATE_TRIP' | translate}}</ion-button>
  </div>
</ion-content>