<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ "APP_NAME" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="locationinput-holder">
    <input class="locationinput" (click)="chooseOrigin()" placeholder="Where do you want to pickup?" type="text"
      value="{{origin ? origin.vicinity : '' }}">
    

    <ion-row style="background: transparent" *ngFor="let att of dropOff; let i = index">
      <ion-col size="10">
        <input class="locationinput" (click)="chooseDropOff(i + 1)" placeholder="Choose another location" type="text"
        value="{{ dropOff[i] ? dropOff[i].vicinity : '' }}">
      </ion-col>
      <ion-col size="2" justify-content-end>
        <ion-button size="small" color="danger" (click)="removeDropOff(i + 1)">
          <ion-icon  name="close"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row justify-content-end style="background: transparent" [hidden]="dropOff.length > 2">  
      <ion-button size="small" (click)="chooseDropOff(dropOff.length)"> 
        Add Stop
      </ion-button>
    </ion-row>

    <input class="locationinput" (click)="chooseDestination()" placeholder="Where do you want to drop?" type="text"
      value="{{ destination ? destination.vicinity : '' }}">

    <p class="distanceText" [hidden]="!destination">
      <span *ngIf="distanceText!=''">{{ distanceText }}</span>
      <span *ngIf="durationText!=''">&nbsp; {{durationText}}</span>
    </p>
  </div>

  <div id="{{ mapId }}" [ngStyle]="{height: '100%'}"></div>
</ion-content>
<ion-footer>
  <ion-toolbar style="padding: 8px;">
    <ion-row [hidden]="!destination" style="background: #f5f5f5;">
      <ion-col>
        <ion-button fill="clear" size="small" color="dark" expand="block" (click)="choosePaymentMethod1()">
          <ion-icon slot="start" name="{{ getPaymentMethod() }}"></ion-icon>
          {{ getPaymentMethod() }}
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" size="small" color="dark" expand="block" (click)="showPromoPopup()">
          <ion-icon slot="start" name="create"></ion-icon>
          {{'PROMO' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row [hidden]="!destination">

      <ion-col *ngFor="let vehicle of vehicles; let i = index" [ngClass]="{'active': vehicle.active}"
        (click)="chooseVehicle(i)">
        <p class="carName">{{ vehicle.name }}</p>
        <img src="{{ vehicle.icon }}">
        <!-- <p class="carSeats">{{ vehicle.seats }} seats</p> -->
        <p class="carPrice">{{currency }}{{ vehicle.fee_taxed }}</p>
      </ion-col>

    </ion-row>


    <ion-button expand="block" color="dark" [hidden]="destination" (click)="chooseDestination()">
      {{'RIDE_NOW' | translate}}</ion-button>
    <ion-button expand="block" color="dark" [hidden]="!destination" (click)="book()">
      {{ locateDriver == false ? 'RIDE NOW':'Locating Drivers'}} <ion-spinner name="dots" color="light"
        [hidden]="!locateDriver"></ion-spinner>
    </ion-button>
  </ion-toolbar>
</ion-footer>